[submodule "dmenu"]
	path = dmenu
	url = https://github.com/stormx920/dmenu
[submodule "st"]
	path = st
	url = https://github.com/stormx920/st
[submodule "dwm"]
	path = dwm
	url = https://github.com/stormx920/dwm
[submodule "slstatus"]
	path = slstatus
	url = https://github.com/stormx920/slstatus
